*


# submodules
!.gitmodules
!memory
!docs/doxygen-awesome-css

# documentation
!docs
!docs/*.css
!doxyconf
!header.html

!src
!tests
!examples
!imgs
!*.svg
!*.c
!*.h
!*.am
!*.ac

!.gitignore
!.clangd
!autogen.sh

config.h
aminclude_static.am
