[submodule "memory"]
	path = memory
	url = git@github.com:evjeesm/memory
	branch = main
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
